@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:wght@200;300&family=Nunito+Sans:wght@300&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Baloo+Bhaina+2&family=Fira+Sans:wght@200;300&family=Nunito+Sans:wght@300&family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
}

nav {
  background-color: rgb(237, 18, 25);
  color: white;
  height: 67px;
  font-size: 28px;
  align-items: center;
  display: flex;
  padding: 0 12px;
  font-family: "Roboto", sans-serif;
  justify-content: left;
}

.gameContainer {
  /* background-color: rgb(63, 183, 7); */
  display: flex;
  justify-content: center;

  margin-top: 50px;
  color: black;
}

.container {
  display: grid;
  grid-template-rows: repeat(3, 10vw);
  grid-template-columns: repeat(3, 10vw);
  font-family: "Roboto", sans-serif;
  position: relative;
}

.box {
  border: 2px solid black;
  font-size: 8vw;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box:hover {
  background-color: rgb(215, 248, 250);
}

.gameinfo {
  padding: 0 34px;
  font-family: "Baloo Bhaina 2", cursive;
}

.imgbox img {
  display: width;
  transition: width 1s ease-in-out;
}

.br-0 {
  border-right: 0;
}

.bl-0 {
  border-left: 0;
}

.bt-0 {
  border-top: 0;
}

.bb-0 {
  border-bottom: 0;
}

#reset {
  margin: 0 23px;
  padding: 1px 18px;
  background: #f3e7f9;
  border-radius: 6px;
  font-family: "Baloo Bhaina 2", cursive;
  font-size: 15px;
  font-weight: bold;
}
 
.info {
  font-size: 25px;
}

.line{
  background-color: black;
  height: 3px;
  width: 0;
  position: absolute;
  transition : width 1s ease-in-out;

}

@media screen and (max-width: 950px) {
  .gameContainer {
    flex-wrap: wrap;
  }
  .gameInfo {
    margin-top: 34px;
  }
  .gameInfo h1 {
    font-size: 1.5rem;
  }
  .container {
    grid-template-rows: repeat(3, 20vw);
    grid-template-columns: repeat(3, 20vw);
  }
}
